
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Cormorant+Garamond:wght@300&family=Estonia&family=Fleur+De+Leah&family=Gayathri:wght@100&family=Gowun+Batang&family=Grey+Qo&family=Inconsolata:wght@300&family=Josefin+Slab:wght@500&family=League+Spartan:wght@200;300;400;600&family=Merriweather:wght@300&family=Monsieur+La+Doulaise&family=Montserrat:wght@200;300;600;700&family=Peralta&family=Quicksand&family=Raleway:wght@200;300;400;600&family=Righteous&family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --fuente-spartan: 'League Spartan', sans-serif; 
    --color-gris: #e4e7e4;
    --color-white: #FDFDFD;
    --color-azul-text: #2329D6;
    --background-color-azul: #503ca8;
    --color-morado-claro: #5500c4;
    --color-verde-claro: #15ff00;
    --color-naranja-claro: #ff3c00;
    --color-negro-text: #000000;
    --background-color-negro: #2B2B2B;
}

* {
    font-family: var(--fuente-spartan);
    user-select: none;
}

body {
    background-color: var(--background-color-negro);
}